body {
    background-color: rgb(250, 250, 249) !important; 
    margin: 0;
    height: 100%;
    transition: background-color 1s ease, color 1s ease;
    scroll-behavior: smooth;
    overflow: auto;
}

html{
    scroll-behavior: smooth;
    overflow: auto;
}

.background-dark{
    /* background-color: #121212; */
    /* color: #e0e0e0; */
}

.background-gray {
    /* background-color: rgba(128, 128, 128, 0.425); */
    /* color: #333; */
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: rgb(250, 250, 249); 
    padding: 0.7rem 1.5rem; 
    box-sizing: border-box;
    transition: top 1s ease-in-out, opacity 0.3s ease, background-color 1s ease, color 1s ease;
    animation: slideInFromTop 1s ease-out 1s forwards;
    z-index: 1000;
    opacity: 0;
}

header .background-dark {
    opacity: 1;
    top: 0;
    background-color: #1f1f1f;
    /* color: white; */
}

header .background-gray {
    opacity: 1;
    top: 0;
    background-color:#f8fafc;
    /* color: red; */
}

.background-dark header .header-left button,
.background-dark header .header-right a,
.background-dark header  {
    /* color: #e0e0e0; */
}

.background-gray header .header-left button,
.background-gray header .header-right a,
.background-gray header{
    /* background-color: #f8fafc; */
    /* color:black; */
}

.background-dark section {
    /* background-color: #121212; */
}

.background-dark .content p,
.background-dark{
    /* color: #e0e0e0; */
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100px); 
        opacity: 0;                  
    }
    to {
        transform: translateY(0);
        opacity: 1;                  
    }
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-left button {
    padding: 10px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: larger;
    border: none;
    background: transparent;
    white-space: nowrap;
}

.header-right a {
    color: black;
    text-decoration: none;
    position: relative;
    padding: 0px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: normal;
    border: none;
    background: transparent;
    margin-left: 0;
    display: inline-block;
    box-sizing: border-box;
}

.header-right a::after {
    content: ""; 
    position: absolute;
    bottom: 0; 
    left: 10px; 
    width: 0; 
    height: 2px; 
    background: black; 
    transition: width 0.3s ease; 
    display: block; 
    box-sizing: border-box;
}

.header-right a:hover::after {
    width: calc(100% - 20px);
}

.header-right button:last-child {
    font-size: 14px;
    background-color: #f8fafc;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border: solid black 1px;
    /* color: black; */
    box-shadow: 5px 5px; 
    transition: color 0.4s ease, box-shadow 0.4s ease; 
    position: relative; 
    overflow: hidden; 
    z-index: 1; 
}

.header-right button:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: black; 
    transition: left 0.4s ease; 
    z-index: -1;
}

.header-right button:last-child:hover::before {
    left: 0;
}

.header-right button:last-child:hover {
    color: white;
    box-shadow: none;
}

.header-right button + button {
    margin-left: 10px; 
}

section {
    background-color: rgb(250, 250, 249); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    padding: 0px 10px;
    box-sizing: border-box;
    transition: background-color 1s ease, color 1s ease;
}

section::before,
section::after {
    content: "";
    flex: 1; 
    background-color: rgb(250, 250, 249); 
}

section::before {
    margin-right: 40px;
}

section::after {
    margin-left: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 100px 40px 0px 0px;
    width: auto;
    max-width: 1200px; 
}

.content > * {
    flex: 1; 
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(100px); 
        opacity: 0;                  
    }
    to {
        transform: translateY(0);   
        opacity: 1;                  
    }
}

.content h1 {
    font-size: 44px;
    font-family: "poppins", sans-serif;
    /* color: black; */
    margin: 0;
    bottom: -100vh;
    animation: slideInFromBottom  1s ease-in-out 2s forwards;
    opacity: 0;
}

.line-container {
    display: flex;
    align-items: center; 
    position: relative; 
    justify-content: center;
    gap: 6px;
    margin-top: 20px;
    animation: slideInFromBottom  1s ease-in-out 2.4s forwards;
    opacity: 0;
}

.line-container::before {
    content: "";
    flex: 1; 
    height: 1px; 
    width: 100px;
    background-color: #000;
}

.line-container span {
    /* color: #666; */
    font-size: 20px;
    font-weight: 600;
    font-family: "poppins", sans-serif;
    white-space: nowrap; 
}

.content p {
    /* color: #4d4d4d; */
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 16px;
    font-family: "poppins", sans-serif; 
    line-height: 1.5;
    max-width: 570px;
    text-align: justify;
    animation: slideInFromBottom  1s ease-in-out 2.6s forwards;
    opacity: 0;
}

.content button {
    font-size: 14px;
    background-color: #f8fafc;
    padding: 8px 30px;
    margin-top: 12px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    border: solid black 2px;
    /* color: black; */
    box-shadow: 5px 5px; 
    transition: color 0.4s ease, box-shadow 0.4s ease; 
    position: relative; 
    overflow: hidden; 
    z-index: 1;
    animation: slideInFromBottom  1s ease-in-out 2.8s forwards;
    opacity: 0;
}

.content button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: black; 
    transition: left 0.4s ease; 
    z-index: -1;
}

.content button:hover::before {
    left: 0;
}

.content button:hover {
    /* color: white; */
    box-shadow: none;
}

.scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: "poppins", sans-serif;
    gap: 10px;            
    padding: 45px 0px 0px 200px;
    margin-top:20px ;
    animation: slideInFromBottom  1s ease-in-out 3s forwards;
    opacity: 0;
}

.scroll-container img {
    width: 30px;   
    height: 30px;       
    height: auto;         
}

.scroll-container span {
    font-size: 16px;      
}

.water-drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 300px;
    height: 300px;
    transition: all 0.4s linear;
    box-shadow: 25px 35px 20px rgba(0, 0, 0, 0.13), 25px 30px 30px rgba(0, 0, 0, 0.062);
    border-radius: 57% 43% 57% / 43% 43% 57% 57%;
    position: relative;
    animation: drop 3s linear infinite, appearSuddenly  1.5s ease-in-out 2s forwards;
    opacity: 0;
}

.water-drop img {
    width: 100%;
    height: 100%;
    object-fit:cover; 
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit; 
}

@keyframes appearSuddenly {
    from {
        opacity: 0;                     
        transform: translateZ(500px) scale(2); 
    }
    50% {
        opacity: 0;                     
        transform: translateZ(250px) scale(1.5); 
    }
    to {
        opacity: 1;                    
        transform: translateZ(0) scale(1);
    }
}

@keyframes drop {
    0%, 100% {
        border-radius: 50% 50% 50% / 50% 50% 50% 50%;
    }
    25% {
        border-radius: 60% 40% 60% / 40% 40% 60% 60%;
    }
    50% {
        border-radius: 70% 30% 70% / 30% 30% 70% 70%;
    }
    75% {
        border-radius: 60% 40% 60% / 40% 40% 60% 60%;
    }
}

main::before {
    content: ""; 
    display: block; 
    height: 100px; 
    width: 100%; 
}

main {
    width: 100%;
    height: auto;
    padding: 0 40px;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

.description{
    position: relative;
    text-align: justify;
}

.description h1{
    font-size: 60px; 
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    height: 300px;
    padding: 0;
    align-items: center;
    line-height: 1.2;
    color: inherit;
    margin-bottom:0;
    text-align: left;
    animation: slideInFromLeft 1s ease-in-out 2s forwards;
    opacity: 0;
    box-sizing: border-box;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.description span{
    color: gray;
}

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 32px 0;
    margin-top: 32px;
    width: 100%; 
    height: auto; 
    box-sizing: border-box; 
}

.about-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.line{
    content: "";
    display: block;
    height: 2px;
    width: 70px;
    background-color: black;
}

.about-heading h1{
    font-size: 65px;
    margin: 0;
    padding: 0;
}

.about-content {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    gap: 40px; 
    width: 100%; 
    max-width:100% ; 
    margin-top: 48px; 
}

.about-content img {
    flex: 1; 
    width: 50%;
    height: 100%;
    /* object-fit: cover;  */
}

.about-content > div {
    /* position: sticky; */
    flex: 1;
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
}

.about-content h2{
    font-size: 44px;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.about-content p{
    color: #020817b9;
    font-size: 20.8px;
    font-family: "poppins",sans-serif;
    margin: 0;
    padding: 0;
    text-align: justify;
}

.about-content p a{
    font-family: "poppins", sans-serif;
    text-decoration: none;
    color: #020817b9;
}

.about-content p a::after {
    content: ""; 
    position: absolute;
    bottom: -50px; 
    left: 100px; 
    width: 0px; 
    height: 2px; 
    background: black; 
    transition: width 0.3s ease; 
    display: block; 
    box-sizing: border-box;
}

.about-content p a:hover::after{
        width: 130px;
}


.skill-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 32px 0; 
    margin-top: 32px; 
    width: 100%; 
    height: auto;
    box-sizing: border-box;
}

.skill-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.line{
    content: "";
    display: block;
    height: 2px;
    width: 70px;
    background-color: black;
}

.skill-heading h1{
    font-size: 65px;
    margin: 0;
    padding: 0;
}

.skill-content {
    display: flex; 
    flex-direction: row; 
    align-items: flex-start; 
    justify-content: space-between; 
    gap: 20px; 
    width: 100%; 
    margin-top: 48px;
}

.skill-info, .lang-framework {
    flex: 1; 
}

.skill-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    gap:1.25rem;
}

.skill-info h2{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 36px;
}

.skill-info p{
    font-family: 'grotesk', sans-serif;
    font-weight: 400;
    font-size: 20.8px;
    color: rgba(0, 0, 0, 0.685);
    line-height: 1.6;
    text-align: justify;

}

.skill-info h2,p{
    padding: 0;
    margin: 0;
}

.lang-framework{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
}

.lang-framework h2{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-weight: 600;
    margin: 0;
    font-size: 36px;
}

.grid-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-items: center;
}

.grid-img > div {
    background-color: #E8E8E3; 
    width: 120px;
    height: auto; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    padding: 10px; 
    text-align: center; 
}

.grid-img > div:hover {
    transform: scale(1.1);
}

.grid-img img {
    width: 80%; 
    height: auto; 
    border-radius: 8px; 
    align-items: end;
}

.python-bg span, .html-bg span, .css-bg span, .react-bg span, .javascript-bg span {
    font-family: 'Poppins', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #333; 
    margin-top: 8px; 
    cursor: default;
}

.nodejs-bg span{
    font-size: 16px;
    font-family: 'Poppins', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #333;
    margin-top: 50px;
    cursor: default;
}

.project-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-top: 32px; 
    width: 100%; 
    height: auto; 
    box-sizing: border-box;
    /* background-color: black;    */
}

.project-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 30px;
    width: 100%;
}

.line{
    content: "";
    display: block;
    height: 2px;
    width: 70px;
    background-color: black;
}

.project-heading h1{
    font-size: 65px;
    margin: 0;
    padding: 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto auto auto auto 1fr;
    gap: 2.5rem;
    margin-top: 40px;
}

.project-container {
    display: flex;
    flex-direction: column;
    height: auto;
    box-sizing: content-box;
}

.project-grid img {
    width: 100%; 
    height: auto;
    transition: transform 0.5s, border-radius 0.5s ease-in-out;
}

.project-grid img:hover {
    transform: scale(1.02);
    border-radius: 25px;
}

.project-caption {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.project-caption p{
    color: #8c8c73;
    font-size: 16px;
    background: #8c8c7333;
    margin-top: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 9999px;
    border: 1px solid #e5e7eb;
    text-align: center;
    user-select: none;
}

.project-caption p:last-child{
    margin-left: 10px;
}

.project-grid h2{
    font-family: 'Poppins', 'Arial', sans-serif;
    font-size: 20px;
    margin: 10px 0px 0px 0px;
}

.project-grid p{
    font-family: 'grotesk', sans-serif;
    font-size: 17.6px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: justify;
}

.project-grid > div:nth-child(1) {
    grid-column: 2/12;
}

.project-grid > div:nth-of-type(2){
    grid-column: 1/8;
}

.project-grid > div:nth-of-type(3){
    grid-column: 8/13;
}

.project-grid > div:nth-of-type(4){
    grid-column: 1/6;
}

.project-grid > div:nth-of-type(5){
    grid-column: 6/13;
}

.project-grid > div:nth-of-type(6){
    grid-column: 1/7;
}

.project-grid > div:nth-of-type(7){
    grid-column: 7/13;
}

.project-grid > div:nth-of-type(8){
    grid-column: 1/8;
}

.project-grid > div:nth-of-type(9){
    grid-column: 8/13;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0; 
    margin-top: 32px;
    width: 100%; 
    height: auto; 
    box-sizing: border-box;
}

.contact-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.line{
    content: "";
    display: block;
    height: 2px;
    width: 70px;
    background-color: black;
}

.contact-heading h1{
    font-size: 65px;
    margin: 0;
    padding: 0;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
    margin-top: 3rem
}

.contact-me{
    width: 180%;
    flex-grow: 1;
    border: 3px solid black;
    border-radius: 5px;
    padding: 32px;
}

.contact-me span{
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
}

.contact-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-logo img {
    width: 70px; 
    height: auto; 
}

.contact-matter{
    padding: 16px 0px;
}

.contact-matter span{
    font-size: 44px;
    font-weight: 400;
    font-family: 'Poppins', 'Arial', sans-serif;
    color: #0e0e0c;
}

.contact-matter p{
    font-family: 'grotesk', sans-serif;
    color: #020817;
    font-size: 19px;
    font-weight: 100;
    font-style: normal;
    line-height: 1.7;
    margin-top: 8px;
}

.contact-inner-container{
    display: flex;
    flex-direction: row;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 1rem;
}

.form-group {
    position: relative;
    font-family: 'Arial', sans-serif;
}

.form-input {
    width: 100%;
    border: none;
    padding-top: 1rem;
    padding-bottom: 0.375rem;
    border-bottom: 2px solid #ddd;
    background: transparent;
    align-self: end;
    font-size: 0.875rem;
    color: #4a4a4a;
    transition: border-color 0.3s, padding 0.3s, opacity 0.3s;
}

.form-input::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    border-bottom: 2px solid #ddd;
    transform: translateX(-50%);
    transition: width 0.3s, border-color 0.3s;
}

.form-input:focus {
    border-color: #555;
    outline: none;
}

.form-input:disabled {
    border-color: transparent;
    background-color: #f0f0f0;
}

.form-input::placeholder {
    color: transparent;
}

.form-input:focus::placeholder {
    color: #4a4a4aa6;
}

.form-label {
    position: absolute;
    top: 0.5rem;
    left: 0;
    font-size: 0.875rem;
    color: #777;
    align-self: start;
    transition: all 0.3s;
    pointer-events: none;
    transform-origin: top left;
    transform: scale(1) translateY(0);
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
    font-size: 0.75rem;
    color: #333;
    transform: scale(0.90) translateY(-1rem);
}

.form-group.col-span-2 {
    grid-column: span 2;
}

.form-group.col-span-4 {
    grid-column: span 4;
}

.submit-button {
    grid-column: span 4;
    font-size: 14px;
    background-color: #f8fafc;
    padding: 5px 10px;
    font-family: "Poppins", sans-serif;
    height: 40px;
    font-weight: 600;
    border: solid black 2px;
    box-shadow: 5px 5px; 
    transition: color 0.4s ease, box-shadow 0.4s ease; 
    position: relative; 
    overflow: hidden; 
    z-index: 1; 
}

.submit-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background-color: black; 
    transition: left 0.4s ease; 
    z-index: -1;
}

.submit-button:hover::before {
    left: 0;
}

.submit-button:hover {
    color: white;
    box-shadow: none;
}

.cartoon-image img {
    grid-column: 4; 
    grid-row: 1 / 4; 
    width: 350px; 
    height: auto; 
    object-fit: cover;
}

.contact-details{
    width: auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 24px;
}

.contact-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: 100%;
  }
  
  .contact-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .details{
    margin-top: 24px;
  }

  .details h4{
    margin: 0;
  }

  .contact-details h4{
    font-family: "poppins", sans-serif;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    margin:24px 0px 0px 0px;
  }

  .contact-details .mail{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 12px;
  }

  .contact-details .mail span{
    color: #0e0e0c;
    font-family: 'grotesk', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin-right: 8px;
  }

  .contact-details a{
    color: #0e0e0c;
    font-family: 'grotesk', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
  }

  .social-profiles{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 24px 0px 0px 0px;
  }

  .github{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .linkedin{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  @keyframes beat-fade {
    0%, 100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5; 
      transform: scale(1.2); 
    }
  }

  .social-profiles img{
    width: 24px;
    height: auto;
    margin: 0px 8px 4px 0px;
    /* animation:beat-fade 1s infinite; */
  }

  .copy-rights{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
    background-color: #0e0e0c;
    color: #DDDDD5;
    padding: 0px 12px;
    margin: 0;
}
.copy-rights p{
    font-size: 18px;
    font-family: 'grotesk', sans-serif;
    text-align: center;
    margin: 0;
}

.back-to-top {
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
    z-index: 1000;
}

.back-to-top span {
    margin-right:20px;
    font-size: 20px;
}

.back-to-top img {
    width: 20px; 
    height: auto; 
    animation: bounce 0.7s ease-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(-5px); /* Start position */
    }
    50% {
        transform: translateY(0px); /* Bounce up */
    }
    100% {
        transform: translateY(-5px); /* Settle back to start position */
    }
}
